In [1]:
import pandas as pd

In [2]:
MUSIC_BRAINZ_ENTITY = ['artist', 'genre', 'instrument', 'release'] # release is for album, release_group is not included
sum_df = pd.DataFrame(index = MUSIC_BRAINZ_ENTITY, columns = ['wiki_num', 'wiki_freq', 'music_num', 'music_freq', 'vocab'])
sum_df.index.name = 'entity'

In [3]:
for entity in MUSIC_BRAINZ_ENTITY:
    for corpus_type in ['wiki', 'music']:
        freq_csv_path = f'{corpus_type}_corpus/musicbrainz_{entity}_{corpus_type}_corpus.csv'
        freq_df = pd.read_csv(freq_csv_path)

        sum_df.loc[entity, f'{corpus_type}_num'] = freq_df['number'].sum()
        sum_df.loc[entity, f'{corpus_type}_freq'] = freq_df['frequency'].sum()
    sum_df.loc[entity, 'vocab'] = len(freq_df['number'])

In [4]:
sum_df = sum_df.astype(float)
pd.options.display.float_format = '{:,.0f}'.format
sum_df

                wiki_num      wiki_freq     music_num    music_freq     vocab
entity
artist     2,189,247,821 17,241,299,062 1,327,304,247 5,425,560,169 2,008,511
genre         18,093,658     42,676,598    12,733,161    21,110,527     1,808
instrument    15,994,971     50,004,721     9,619,475    17,595,725     1,019
release    2,316,353,924 23,814,193,888 1,548,014,082 7,495,287,114 2,348,437

In [5]:
# sum_df.astype(int).to_csv('entity_sum.csv')